In [3]:
class Myclass():
    x = 5
    y = 10
p1 = Myclass()
print(p1.x)
print(p1.y)

5
10

In [4]:

# creating a class
class Bukola():
    w = 'Alade'
    y = 'Christianah'
Name = Bukola()
print(Name.w)
print(Name.y)

Alade
Christianah

In [5]:
# creating class with function
class Person():
    def __init__(self,name,gender,age):
        self.name = name
        self.gender = gender
        self.age = age
    def __str__(self) -> str:
     return f'My name is {self.name}, I am a {self.gender} and {self.age} years old'
p2 = Person('uncle sam', 'male', 33)
p3 = Person('miss Gloria', 'female',27)
print(p2)
print(p3)

My name is uncle sam, I am a male and 33 years old
My name is miss Gloria, I am a female and 27 years old

In [1]:
class Employ():
    def __init__(self,Name,ID,Salary,Department):
        self.Name = Name
        self.ID = ID
        self.Salary = Salary
        self.Department = Department

    def Outputdetails(self):
        print(F'{self.Name} {self.ID} {self.Salary} {self.Department}')
        

    def updatedept(self,new_department):
        self.Department = new_department

    def calculate_emp_salary(self,hours_worked):
        hours_worked = int(input("Enter your hours worked: "))
        if hours_worked > 50:
            overtime = hours_worked - 50
            overtime_amount = overtime * (self.Salary/50)
            Total_salary = self.Salary + overtime_amount
        else:
            Total_salary = self.Salary
            print(Total_salary)

        
data1 = Employ("Adams",'E7876',50000,'ACCOUNTING')
print(data1.Salary)
# print(data1.updatedept('OPERATIONS'))
print(data1.Outputdetails())
print(data1.calculate_emp_salary(70))

50000
Adams E7876 50000 ACCOUNTING
None
None

In [3]:
print(type(data1))

<class '__main__.Employ'>

In [6]:
class Employee():
    def __init__(self,Name, ID, Salary, Department):
        self.Name = Name
        self.ID = ID
        self.Salary = Salary
        self.Department = Department

    def assign_department(self,new_department):
        self.Department = new_department
        return self.Department
    
    def calculate_emp_salary(self, hours_worked):
        overtime = hours_worked - 50
        overtime_amount = overtime*(self.Salary/50)

        return overtime_amount+self.Salary
    
    
    
    
emp1 =  Employee('Smith','E7698', 55000,'OPERATIONS')
emp2 = Employee("Adams",'E7876',50000,'ACCOUNTING')
emp3 = Employee("Jones",'E7499',45000,'RESEARCH')
emp4 = Employee("Martin",'E7900',50000,'SALES')

h_w = [55,63,78,60]
emp_list = [emp1,emp2,emp3,emp4]

print(emp1.Name)
print(emp1.Department)
print(emp1.assign_department('Technical'))
print(emp1.Department)
print(emp1.calculate_emp_salary(82))

Smith
OPERATIONS
Technical
Technical
90200.0

In [17]:

# calculate with different overtime for them
def calculate_all_emp_salary2(list_of_emp_data,hours_worked):
    
    all_salary = 0

    for eachemp in list_of_emp_data:
        pos = list_of_emp_data.index(eachemp)
        # print(eachemp.Name)
        # print(h_w[pos])

        all_salary += eachemp.calculate_emp_salary(hours_worked[pos])

    print(f'The mean  of {all_salary} = {all_salary/len(list_of_emp_data)}')

calculate_all_emp_salary2(emp_list,h_w)

The mean  of 253700.0 = 63425.0

In [18]:
def calculate_all_emp_salary(list_of_emp_data):
    
    all_salary = 0

    for eachemp in list_of_emp_data:
        all_salary += eachemp.calculate_emp_salary(55)

    print(all_salary)

calculate_all_emp_salary(emp_list)

220000.0